streamlit>=1.32.0
spacy>=3.7.0,<3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
nltk>=3.8.1
pdfminer.six>=20221105
docx2txt==0.8
pandas>=2.0.0
numpy>=1.26.0,<2.0.0
# Local Dependencies
# pyresparser is now included in the project directory
